{% extends "layout.html.twig" %}

{% block title 'About - UX Lausanne 2014' %}

{% block header %}
<section class="on-pink circled text-center inner-isolated">
  <h1>About</h1>
  <h4>Discover the team behind UX Lausanne</h4>
</section>
{% endblock %}

{% block content %}

{# Team #}
{% if app.team %}
<div class="container inner-isolated">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="text-center isolated">Us, the organizers</h2>
        </div>
    </div>
    <div class="row">
    {% for member in app.team %}
        <div class="col-xs-6 col-sm-4 col-md-2 text-center">
                    <div class="isolated">
                        <img src="{{ member.photo }}" alt="{{ member.title }}" class="img-responsive thumbnail">
                        <h5>{{ member.title  }}</h5>
                        <p>
                            {{ member.description | raw }}<br/>
                            <a href="https://twitter.com/{{ member.twitter }}">@{{ member.twitter }}</a>
                        </p>
                    </div>
                </div>
    {% endfor %}
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2 class="text-center isolated"><a name="volunteers"></a> Want to volunteer ? </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h4>We are looking for motivated volunteers to help us animate the conference. <br /> In exchange for 2 half-days of helping and organizing, you get access to the other two half-days of the conference.</h4>
            <br />
        </div>
        <div class="col-xs-12 col-sm-6 inner-isolated">
            <p>Activities include hosting guests, answering questions, helping with the service during lunch and assisting during the workshops.</p>
            <p>We are also looking for hands before (Tuesday 20th) and after (Saturday23th) to help build the venue</p>
            <p>Last but not least, we are looking for a WIFI and network expert to help keep an eye on the WIFI during the high peaks</p>
        </div>
        <div class="col-xs-12">
            <div class="text-center isolated">
                <a href="{{ path('speakers') }}" class="btn btn-default">Sounds fun. Sign me in ! </a><br />
                <br/><small>Selection will apply. <br/> First in line, first selected. <br/> We'll contact you soon.</small>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% if app.orgs %}
<div class="on-dark">
    <div class="container inner-isolated">
        <div class="row">
            {% for org in app.orgs %}
            <div class="col-sm-6 ">           
                <h2 class="text-center isolated">{{org.title}}</h2>
                <div class="row">
                    <div class="col-xs-3" >
                        <div class="on-white">
                            <a href="{{org.url}}" class="no-underline"><img src="{{org.image}}" alt="{{org.title}}" width="100%"></a>
                        </div>
                    </div>
                    <div class="col-xs-9"> {{org.description | raw}} </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}


{# UXR Goals #}
{% if app.uxrgoals %}
<div class="on-pink">
    <div class="container inner-isolated">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="text-center isolated">Chapter goals</h1>
        </div>
    </div>
        <div class="row">
            {% for goal in app.uxrgoals %}
             <div class="col-sm-4 col-xs-12">
                <div class="semi-inner-isolated">
                    <img src="{{ goal.photo }}" alt="" width="100%" class="img-thumbnail semi_isolated">
                    <h3>{{ goal.title }}</h3>
                    <p>{{ goal.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}