{% extends "layout.html.twig" %}
{% set active_page = "program" %}

{% block title 'Schedule – UX Lausanne 2014' %}

{% block header %}
<section class="on-pink circled text-center inner-isolated">
  <h1>Schedule</h1>
  <h4>Full Schedule</h4>
</section>
{% endblock %}

{% block content %}

{% if app.schedule %}
{# Schedule Filter #}

{# Schedule per day#}

    {% for day in app.schedule %}
<div class="container isolated schedule">
    <div class="row">
        <div class="col-xs-12 card">
            <h2>{{day.title}}</h2>
        </div>
    </div>

    {% for timeslot in day.timeslots %}
        {% if timeslot.kind == app.talk_kinds['talk'] or  timeslot.kind == app.talk_kinds['keynote'] %}
        <div class="row">
            <div class="col-sm-3 col-xs-12">
                <h3 class="unbold">{{timeslot.title}}</h3>
            </div>
            
            <div class="col-sm-6 col-xs-12">
                    <h3>{{timeslot.kind}}: {{timeslot.talk.title}}</h3>
                    <small>{{timeslot.talk.location}}</small>
                    {% if timeslot.talk.teaser %}<hr class="short">
                    <p>{{timeslot.talk.teaser | raw }}</p>{%endif%}
            </div>
            <div class="col-sm-3 col-xs-12">
                {% set speaker = timeslot.talk.speaker %}
                {% if speaker.photo %}
                    <a href="{{ path('speaker', {'slug': speaker.slug })}}"><img src="{{ speaker.photo }}" alt="{{ speaker.title }}" class="img-thumbnail" width="100%"></a>
                {% endif %}
                <h5 class="go-pink text-stronger"><a href="{{ path('speaker', {'slug': speaker.slug })}}">{{ speaker.title }}</a></h5>
                
                    {% if speaker.twitter %}
                        <p><a href="https://twitter.com/{{speaker.twitter}}">@{{speaker.twitter}}</a></p>
                    {%endif%}
            </div>
        </div>

        {% elseif timeslot.kind == app.talk_kinds['workshop']  %}
        <div class="row">
            <div class="col-sm-3 col-xs-12">
                <h3 class="unbold">{{timeslot.title}}</h3>
            </div>
        
            <div class="col-sm-6 col-xs-12">
                <h3>Workshops</h3>
            </div>
        </div>
        <div class="row">
            {% for workshop in timeslot.workshops %}
                {% set speaker = workshop.speaker %}
                <div class="col-sm-3 col-xs-6">
                {% if speaker.photo %}
                    <a href="{{ path('speaker', {'slug': speaker.slug })}}"><img src="{{ speaker.photo }}" alt="{{ speaker.title }}" class="img-thumbnail" width="100%"></a>
                {% endif %}
                <h5>{{ workshop.title }}</h5>
                <small>{{workshop.location}}</small>
                <hr class="short">
                <p>{{workshop.teaser | raw }}</p>
                <hr class="short">
                <h5 class="go-pink text-stronger"><a href="{{ path('speaker', {'slug': speaker.slug })}}">{{ speaker.title }}</a></h5>
                
                    {% if speaker.twitter %}
                        <p><a href="https://twitter.com/{{speaker.twitter}}">@{{speaker.twitter}}</a></p>
                    {%endif%}  
                </div>
            {% endfor %}
        </div>
        {% elseif timeslot.kind == app.talk_kinds['other']  %}
        <div class="row">
            <div class="col-sm-3 col-xs-12">
                <h3 class="unbold">{{timeslot.title}}</h3>
            </div>
            
            <div class="col-sm-6 col-xs-12">
                    <h3>{{timeslot.talk.title}}</h3>
                    <small>{{timeslot.talk.location}}</small>
                    {% if timeslot.talk.teaser %}<hr class="short">
                    <p>{{timeslot.talk.teaser | raw }}</p>{% endif %}
            </div>
            <div class="col-sm-3 col-xs-12">
                
                {% if timeslot.talk.sponsor %}
                {% set sponsor = timeslot.talk.sponsor %}
                    <img src="{{ sponsor.photo }}" alt="{{ sponsor.title }}" class="img-thumbnail" width="100%"></a>
                    <p>
                    Sponsorized by:<br />
                    <strong>{{ sponsor.title }}</strong><br />
                    {{ sponsor.teaser }}
                    </p>
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% if loop.last %}
        <hr />
        {% else %}
        <hr class="light" />
        {% endif %}
        {% endfor %}        
    </div>
{% endfor %}
    

{% endif %}

{% endblock %}