{% extends "layout.html.twig" %}
{% set active_page = "sponsors" %}

{% block title 'Sponsors – UX Lausanne 2014' %}

{% block header %}
<section class="on-pink circled text-center inner-isolated">
  <h1>Sponsors</h1>
  <h4>Huge thanks to our great sponsors</h4>
</section>
{% endblock %}

{% block content %}

{# Sponsors #}
<div class="on-dark">
    <div class="container inner-isolated">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="text-center">Lead Sponsor</h2>
            </div>
        </div>

        {% for sponsor in app.sponsors_lead %}
        <div class="isolated">
            <div class="row">
                <div class="col-xs-3 col-sm-6">
                    <div class="inner-isolated">
                        <img src="{{ sponsor.photo }}" alt="" width="100%">
                    </div>
                </div>
                <div class="col-xs-9 col-sm-6">
                    <h3>{{ sponsor.title }}</h3>
                    <h5>{{ sponsor.teaser }}</h5>
                    <hr class="short">
                    <p>{{ sponsor.description }}</p>
                    <p>
                        {% for url in sponsor.urls %}
                        <a href="{{ url.url }}">{{ url.label }}</a>
                        {% if not loop.last %}<br>{% endif %}
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}