{% extends "base.html.twig" %}

{% block title %}UX Lausanne 2014{% endblock %}

{% block body %}
<div class="about title-section section">
    <div class="container section-title">
        <h1>What is UX Lausanne</h1>
    </div>
    <div class="isolated">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <hgroup>
                        <h2>
                            2 days ~ 14 talks ~ 8&nbsp;workshops...
                        </h2>
                        <h3>
                            All packaged in the best UX conference, ever !
                        </h3>
                    </hgroup>
                    <h3>Talking place Arsenic Theatre, in the beautiful city of Lausanne (Switzerland), between lake and mountains.</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="speaker inverse-section section">
    <div class="container section-title">
        <h1>Some of our inspiring speaker</h1>
    </div>
    <div class="isolated">
        <div class="isolated">
            <div class="container">
                <div class="row">
                    {% for speaker in speakers %}
                        <div class="col-xs-6 col-md-3 text-center">
                            <div class="isolated">
                                <img src="assets/img/{{ speaker.photo }}" alt="{{ speaker.name }}" class="img-responsive thumbnail text-center">
                            <h3>{{ speaker.name }}</h3>
                            <h4>
                                <a href="https://twitter.com/{{ speaker.twitter }}">@{{ speaker.twitter }}</a>
                                <br/>
                                <a href="{{ speaker.url }}">{{ speaker.site }}</a>
                            </h4>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-xs-12"><h3 class="text-center">More to come soon ...</h3></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="team section">
    <div class="container section-title">
        <a name="about"></a>
        <h1>About UX Romandie</h1>
    </div>
    <div class="isolated">
        <div class="container">
            <div class="row">
                {% for member in team %}
                    <div class="col-xs-4 col-sm-2 text-center">
                        <div class="isolated">
                            <img src="assets/img/{{ member.photo }}" alt="{{ member.name }}" class="img-responsive thumbnail">
                            <h3>{{ member.name }}</h3>
                            <h4>
                                <a href="https://twitter.com/{{ member.twitter }}">@{{ member.twitter }}</a>
                            </h4>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}